* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 12px;
  background: #ffffff;
  padding: 10px;
  width: 360px;
  height: 68px;
  overflow: hidden;

  .aBi1 {
    flex-shrink: 0;
    width: 70px;
    height: 23px;
  }

  .frame1 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background: #e9e9e9;
    padding: 7px 30px 7px 9px;
    width: 221px;
    min-width: 221px;
    height: 32px;
    overflow: hidden;

    .container {
      width: 18px;
      height: 18px;
    }

    .a {
      line-height: 15px;
      letter-spacing: 0;
      color: #74778099;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .user {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
}
