* {
  box-sizing: border-box;
}

.a8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .statusBar {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    background: #ffffff;
    padding: 14px 27px 12px;
    min-width: 393px;
    overflow: hidden;

    .aStatusBarTime {
      display: flex;
      align-items: center;
      padding-top: 1px;

      .aTime {
        width: 54px;
        height: 20px;
        text-align: center;
        line-height: 22px;
        letter-spacing: -0.41px;
        color: #000000;
        font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
      }
    }

    .rightSide {
      display: flex;
      align-items: center;
      margin-top: 5px;

      .iconMobileSignal {
        width: 18px;
        height: 12px;
      }

      .wifi {
        margin-left: 8px;
        width: 17px;
        height: 12px;
      }

      .aStatusBarBattery {
        margin-left: 7px;
        width: 27px;
        height: 13px;
      }
    }
  }

  .expandMore {
    margin-top: 12px;
    margin-left: 27px;
    width: 33px;
    height: 33px;
    overflow: hidden;
    rotate: 90deg;
  }

  .a {
    margin: 12px 0px 0px 37px;
    line-height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  .frame2147223398 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 57px 37px 0px;
    row-gap: 13px;

    .frame2147223397 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 47px;

      .a13 {
        flex-shrink: 0;
        width: 93px;
        height: 30px;
      }

      .a2 {
        flex-shrink: 0;
        align-self: stretch;
        width: 319px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .a3 {
      flex-shrink: 0;
      align-self: stretch;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .frame2147223401 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 101px 37px 0px;
    row-gap: 36px;

    .frame2147223399 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 4px;

      .a4 {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .line1 {
        flex-shrink: 0;
        background: #dcdcdc;
        width: 319px;
        height: 1px;
      }
    }
  }

  .frame2147223402 {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    column-gap: 11px;
    margin: 47px 80px 0px 81px;

    .a5 {
      flex-shrink: 0;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .autoWrapper {
      position: relative;
      flex-shrink: 0;
      width: 0;
      height: 10px;

      .line35 {
        position: absolute;
        top: 5px;
        left: -5px;
        background: #a4a4a4;
        width: 10px;
        height: 2px;
        rotate: 90deg;
      }
    }
  }

  .a7 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 106px 21px 0px 22px;
    border-radius: 10px;
    background: #87c122;
    padding: 14px 153px;
    overflow: hidden;

    .a6 {
      line-height: 22px;
      letter-spacing: -0.41px;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 65px;
    background: #ffffff;
    padding: 21px 129px 8px 130px;

    .homeIndicator {
      border-radius: 100px;
      background: #000000;
      width: 134px;
      height: 5px;
    }
  }
}
