.avatar {
  position: relative;
  display: grid;
  place-items: center;
  width: var(--s10);
  height: var(--s10);
  overflow: hidden;
  border-radius: var(--r-full);
  background: var(--surface-sub);
  color: var(--text-2);
}

.image {
  object-fit: cover;
}
